body {
	background-color: #498B84;
	font-family: Tahoma;
}

section {
	display: block;
}


header span img{
	float: left;
}

}
nav {
	margin: 0;
	padding: 0;
	font-weight: bold;
}
nav a {
	display: inline-block;
	color: #dddddd;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
nav a:hover {
	background-color: #111;
}

#overview a {
	display: block;
	padding-bottom: 2em;
	color: #dddddd;
}

#overview a:hover {
	background-color: #111;
}

.active {
	background-color: #546B94;
}

footer {
	border: 2px solid #dddddd;
}

footer a {
	float: right;
}
.social {
	padding: 14px;
}


#byline {
	text-align: left;
	float: left;
}

.clearfix {
	overflow: auto;
	border: 2px solid #dddddd;
}

section h2 {
	font-size: 3em;
}
